/*
font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

:root{
    --red: #BF0000;
}

.for-desktop{
    display: block;
}
.for-mobile{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Exo 2', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
figure{
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
}
figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.mb-20{
    margin-bottom: 20px !important;
}

.master{
    width: 100%;
    float: left;
    position: relative;
}
.mid-content{
    width: 100%;
    float: left;
    position: relative;
}
.header{
    width: 100%;
    float: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}
.top-bar{
    background: #212121;
    width: 100%;
    float: left;
    height: 40px;
}
.top-bar .date{
    width: 200px;
    float: left;
    padding: 10px 0;
    border-right: 1px solid rgba(255,255,255,0.2);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}
.top-bar .social-media{
    width: 150px;
    float: right;
    border-left: 1px solid rgba(255,255,255,0.2);
    text-align: right;
}
.top-bar .social-media a{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    color: #fff;
    padding: 6px 5px;
}
.newsticker{
    width: calc(100% - 350px);
    float: left;
    overflow: hidden;
    position: relative;
}
.newsticker .newsticker-title{
    width: 110px;
    float: left;
    color: var(--red);
    font-size: 12px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    padding: 9px 20px;
    position: relative;z-index: 2;
    background: #212121;
}

@keyframes ticker {
    from {transform: translateX(750px); -moz-transform: translateX(750px); -webkit-transform: translateX(750px);}
    to {transform: translateX(-100%); -moz-transform: translateX(-100%); -webkit-transform: translateX(-100%);}
}

.newsticker .newsticker-list{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 110px;
    
    animation: ticker 30s infinite;
    -moz-animation: ticker 30s infinite;
    -webkit-animation: ticker 30s infinite linear;
}
.newsticker .newsticker-list li{
    display: inline-block;
    font-size: 12px;
}
.newsticker .newsticker-list li a{
    color: #fff;
    display: block;
    padding: 9px 20px;
}

.bottom-bar{
    width: 100%;
    float: left;
    height: 92px;
}

.bottom-bar .logo{
    display: block;
    width: 200px;
    height: 80px;
    margin: 5px 0;
    float: left;
}
.bottom-bar .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu{
    width: calc(100% - 330px);
    float: left;
    text-align: right;
}
.menu li{
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
}
.menu li::before{
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}

.menu li.active::before,
.menu li:hover::before{
    background: var(--red);
}
.menu li a{
    padding: 36px 10px;
    display: block;
    color: #000;
}
.menu li.active a,
.menu li a:hover{
    color: var(--red);
}
.menu li .drop-ct{
    display: none;
    width: 240px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    background: #fff;
    border-top: 3px solid var(--red);
    text-align: left;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.menu li.has-dropdown:hover .drop-ct{
    display: block;
}
.menu li .drop-ct li{
    display: block;
    width: 100%;
    float: left;
}
.menu li .drop-ct li a{
    padding: 10px 20px;
}
.menu li .drop-ct li::before{
    display: none;
}
.menu li .drop-ct li a:hover{
    background: #f4f4f4;
}
.menu li .drop-ct li.active a{
    color: var(--red);
    background: #f4f4f4;
}

.bottom-bar .search{
    width: 90px;
    float: left;
    height: 92px;
    position: relative;
}
.search .search-bt{
    width: 90px;
    height: 92px;
    cursor: pointer;
    background: url(../images/search.png) no-repeat center;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.search .search-bt:hover{
    background: #f4f4f4 url(../images/search.png) no-repeat center;
}
.bottom-bar .search form{
    width: 810px;
    opacity: 0;
    pointer-events: none;
    height: 93px;
    position: absolute;
    top: 0;
    right: 90px;
    background: #f4f4f4;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.bottom-bar .search form button{
    width: 90px;
    height: 92px;
    background: #f4f4f4 url(../images/search.png) no-repeat center;
    border: none;
    position: absolute;
    right: -90px;
    top: 0;
    cursor: pointer;
}
.bottom-bar .search form button span{
    opacity: 0;
}
.bottom-bar .search form input{
    width: 100%;
    height: 92px;
    padding: 30px;
    border: none;
    border-left: 1px solid #dedede;
    background: none;
    font-size: 18px;
}
.bottom-bar .search form input:focus{
    outline: none;
}
.bottom-bar .search.active form{
    opacity: 1;
    pointer-events: auto;
}


.headline-grid{
    width: 100%;
    height: 540px;
    float: left;
    position: relative;
}
.headline-item{
    position: absolute;
    overflow: hidden;
}
.headline-item .text{
    position: absolute;
    bottom: 0;
    left: 0;
}
.headline-item:first-child{
    width: 66%;
    height: 100%;
    top: 0;
    left: 0;
}
.headline-item:nth-child(2),
.headline-item:nth-child(3),
.headline-item:nth-child(4){
    width: 34%;
    height: calc(100% / 3);
    left: 66%;
}
.headline-item:nth-child(2){
    top: 0;
}
.headline-item:nth-child(3){
    top: 33.33%;
}
.headline-item:nth-child(4){
    top: 66.66%;
}

.headline-item figure{
    overflow: hidden;
    background: #000;
    position: relative;
}
.headline-item figure img{
    opacity: 0.8;
}
.headline-item figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.headline-item .text{
    padding: 20px 60px 20px 20px;
    z-index: 2;
}
.headline-item .text h1,
.headline-item .text h2{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 5px;
}
.headline-item .text h1 a,
.headline-item .text h2 a{
    color: #fff;
}
.headline-item .text h1 a:hover,
.headline-item .text h2 a:hover{
    color: var(--red);
}
.headline-item .text p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}
.headline-item .text .meta-info{
    color: #fff;
}

.meta-info{
    font-size: 12px;
    color: #8b8b8b;
}

.headline-item:first-child .text{
    padding: 30px;
    width: 75%;
}
.headline-item:first-child .text h1,
.headline-item:first-child .text h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.mob-headline-slider{
    width: 100%;
    float: left;
}
.mob-headline-slider .item{
    width: 100%;
    float: left;
    position: relative;
}
.mob-headline-slider .item .text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
}
.mob-headline-slider .item .text h1 a,
.mob-headline-slider .item .text h2 a,
.mob-headline-slider .item .text p,
.mob-headline-slider .item .text .meta-info{
    color: #fff;
}
.mob-headline-slider .item .text h1,
.mob-headline-slider .item .text h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.mob-headline-slider .item .text p{
    font-size: 12px;
    margin-bottom: 5px;
}
.mob-headline-slider .item .text .meta-info{
    font-size: 11px;
}

.mob-headline-slider .owl-prev,
.mob-headline-slider .owl-next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    overflow: hidden;
    text-indent: -200px;
}
.mob-headline-slider .owl-prev{
    right: 60px;
    background: url(../images/prev.png) no-repeat center;
}
.mob-headline-slider .owl-next{
    right: 20px;
    background: url(../images/next.png) no-repeat center;
}

.mob-headline-slider .item figure{
    background: #000;
}
.mob-headline-slider .item figure img{
    opacity: 0.8;
}
.mob-headline-slider .item figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.section-title{
    width: 100%;
    float: left;
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede;
    position: relative;
    margin-bottom: 20px;
}
.section-title h3{
    font-size: 18px;
    max-width: 400px;
    float: left;
    font-weight: 700;
}
.section-title h2{
    font-size: 36px;
    max-width: 400px;
    float: left;
    font-weight: 700;
}
.section-title span{
    font-size: 14px;
    color: #8b8b8b;
    width: 100%;
    float: left;
}
.section-title::before{
    content: "";
    width: 70px;
    height: 3px;
    background: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-title.inset{
    border-bottom: none;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 9;
    color: #fff;
    width: calc(100% - 160px);
}
.section-title input{
    float: right;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #dedede;
    padding: 8px 20px;
    font-size: 14px;
    margin-top: -1px;
    background: #fff url(../images/calendar.png) no-repeat right center;
}

.post-list{
    width: 100%;
    float: left;
}
.post-list .post-item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
.post-list .post-item .pic{
    width: 270px;
    height: 180px;
    float: left;
}
.post-list .post-item .text{
    width: calc(100% - 270px);
    float: left;
    padding-left: 30px;
}
.post-list .post-item .text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.post-list .post-item .text h3 a{
    color: #333;
}
.post-list .post-item .text h3 a:hover{
    color: var(--red);
}
.post-list .post-item .text p{
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
.post-list .post-item:first-child .pic{
    width: 100%;
    height: 360px;
}
.post-list .post-item:first-child .text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 75%;
    z-index: 2;
}
.post-list .post-item:first-child .text h3{
    font-size: 24px;
}
.post-list .post-item:first-child .text h3 a{
    color: #fff;
}
.post-list .post-item:first-child .text h3 a:hover{
    color: var(--red);
}
.post-list .post-item:first-child .text p{
    color: #fff;
}
.post-list .post-item:first-child .text .meta-info{
    color: #fff;
}

.post-list .post-item:nth-child(7n),
.post-list .post-item:nth-child(7n-1){
    width: calc((100% - 30px) / 2);
    float: left;
    margin-right: 30px;
}
.post-list .post-item:nth-child(7n){
    margin-right: 0;
}
.post-list .post-item:nth-child(7n) .pic,
.post-list .post-item:nth-child(7n-1) .pic{
    width: 100%;
    height: 240px;
    margin-bottom: 15px;
}
.post-list .post-item:nth-child(7n) .text,
.post-list .post-item:nth-child(7n-1) .text{
    width: 100%;
    padding-left: 0;
}

.post-list .post-item figure{
    background: #000;
}
.post-list .post-item:first-child figure img{
    opacity: 0.8;
}
.post-list .post-item:first-child figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.small-post-list{
    width: 100%;
    float: left;
    position: relative;
}
.small-post-list .post-item{
    width: 100%;
    float: left;
    margin-bottom: 12px;
    position: relative;
}
.small-post-list .post-item .pic{
    width: 70px;
    height: 70px;
    float: left;
}
.small-post-list .post-item .text{
    width: calc(100% - 70px);
    float: left;
    padding-left: 10px;
}
.small-post-list .post-item .text h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
.small-post-list .post-item .text h3 a{
    color: #333;
}
.small-post-list .post-item .text h3 a:hover{
    color: var(--red);
}

.footer{
    width: 100%;
    float: left;
    background: url(../images/footer-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 0;
}
.footer .top-footer{
    width: 100%;
    height: 165px;
    float: left;
    padding: 60px 0;
}
.foot-logo{
    height: 80px;
    width: 200px;
    float: left;
    margin-top: -20px;
}
.foot-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.foot-social-media{
    text-align: right;
    width: 100%;
    float: left;
}
.foot-social-media li{
    display: inline-block;
    margin-left: 10px;
}
.foot-social-media li a{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 4px;
}
.footer .bottom-footer{
    width: 100%;
    float: left;
    height: 75px;
    background: rgba(0,0,0,0.5);
}
.bottom-footer .is-rtl{
    display: block;
}
.bottom-footer .is-rtl .column:first-child{
    float: right;
}
.bottom-footer .is-rtl .column:last-child{
    float: left;
}
.bottom-footer .is-rtl p{
    padding: 27px 0;
    font-size: 14px;
    color: #fff;
}
.bottom-footer .foot-nav{
    text-align: right;
}
.bottom-footer .foot-nav li{
    display: inline-block;
}
.bottom-footer .foot-nav li a{
    display: block;
    padding: 27px 10px;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
.bottom-footer .foot-nav li a:hover{
    color: #fff;
    text-decoration: underline;
}

.channel{
    display: inline-block;
    padding: 1px 10px;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.channel.channel-0{
    background: #9a031e;
}
.channel.channel-1{
    background: #0EAD6A;
}
.channel.channel-2{
    background: #C76B00;
}
.channel.channel-3{
    background: #540C6F;
}
.channel.channel-4{
    background: #EE4367;
}
.channel.channel-5{
    background: #118ab2;
}
.channel.channel-6{
    background: #073b4c;
}
.channel.channel-7{
    background: #5f0f40;
}
.channel.channel-8{
    background: #52796f;
}
.channel.channel-9{
    background: #7b2cbf;
}
.channel.channel-10{
    background: #4f772d;
}

.match-schedule{
    width: 100%;
    float: left;
}
.match-schedule .item{
    padding: 0 70px 20px;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #dedede;
}
.match-schedule .team{
    width: 200px;
    white-space: nowrap;
    float: left;
}
.match-schedule .team figure{
    width: 100%;
    height: 50px;
    float: left;
    margin: 0;
}
.match-schedule .team figure img{
    object-fit: contain;
}
.match-schedule .team h5{
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    float: left;
    padding: 12px 20px;
}
.match-schedule .match-info{
    width: calc(100% - 400px);
    float: left;
    white-space: nowrap;
}
.match-schedule .team:last-child figure,
.match-schedule .team:last-child h5{
    float: right;
}

.match-info .league{
    font-size: 12px;
    color: var(--red);
}
.match-info .vs{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}
.match-info .meta-info{
    font-size: 12px;
    color: #8b8b8b;
}
.match-schedule .owl-prev,
.match-schedule .owl-next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 25px);
    overflow: hidden;
    text-indent: -200px;
}
.match-schedule .owl-prev{
    left: 20px;
    background: url(../images/prev.png) no-repeat center;
}
.match-schedule .owl-next{
    right: 20px;
    background: url(../images/next.png) no-repeat center;
}

.showcase iframe{
    width: 300px;
    height: 250px;
    display: inline-block;
}
.column.is-4 .ads{
    width: 100%;
    float: left;
    border: 1px solid #dedede;
    text-align: center;
    padding: 30px 0;
}

.standing-table,
.schedule-table{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-align: center;
}
.schedule-table{
    text-align: left;
}
.standing-table th,
.schedule-table th{
    padding: 10px 20px;
    background: var(--red);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}
.standing-table td,
.schedule-table td{
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    text-align: center;
}
.standing-table td:nth-child(2){
    font-weight: 700;
}
.standing-table tr:nth-child(even) td,
.schedule-table tr:nth-child(even) td{
    background: #fafafa;
}
.standing-table th:nth-child(3),
.standing-table td:nth-child(3){
    text-align: left;
}
.standing-table th:first-child,
.standing-table td:first-child{
    width: 50px;
}
.standing-table.no-num th:first-child,
.standing-table.no-num td:first-child{
    width: auto;
}
.standing-table th:nth-child(2),
.standing-table td:nth-child(2){
    padding-left: 0;
    padding-right: 0;
    width: 30px;
}
.standing-table figure{
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.standing-table figure img{
    object-fit: contain;
}

.standing-table td span,
.schedule-table td span{
    display: none;
}

.schedule-table figure{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.schedule-table figure img{
    object-fit: contain;
}

.section-title select{
    float: right;
    border: none;
    font-size: 14px;
}
.section-title select:focus{
    outline: none;
}
.section-title a{
    float: right;
    font-size: 13px;
    color: #333;
    font-weight: 700;
    padding-top: 5px;
}

.bt-more a,
.bt-more button{
    min-width: 170px;
    height: 46px;
    padding: 13px 46px 13px 16px;
    font-size: 12px;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    position: relative;
    background: var(--red);
    border: none;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    cursor: pointer;
}
.bt-more a::before,
.bt-more button::before{
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    top: 6px;
    right: 6px;
    background: url(../images/bt-more.png) no-repeat center;
}

.thumb-foto .item{
    width: 100%;
    float: left;
    position: relative;
}
.thumb-foto .item .text{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    z-index: 2;
}
.thumb-foto .item .text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.thumb-foto .item .text h3 a{
    color: #fff;
}
.thumb-foto .item .text h3 a:hover{
    color: var(--red);
}
.thumb-foto .item .text .meta-info{
    color: #fff;
}

.thumb-foto .owl-prev,
.thumb-foto .owl-next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 25px);
    overflow: hidden;
    text-indent: -200px;
}
.thumb-foto .owl-prev{
    left: 20px;
    background: url(../images/prev.png) no-repeat center;
}
.thumb-foto .owl-next{
    right: 20px;
    background: url(../images/next.png) no-repeat center;
}
.thumb-foto .item figure{
    background: #000;
}
.thumb-foto .item figure img{
    opacity: 0.8;
}
.thumb-foto .item figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.ratio{
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    height: 0;
}
.ratio img,
.ratio iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.ratio.ratio-1{
    padding-top: 100%;
}
.ratio.ratio-75{
    padding-top: 75%;
}
.ratio.ratio-16{
    padding-top: 56.25%;
}
.ratio.ratio-135{
    padding-top: 135%;
}

.ads{
    width: 100%;
    float: left;
    text-align: center;
}
.ads iframe{
    margin: auto;
}
.leaderboard iframe{
    width: 728px;
    height: 90px;
}
.mob-center iframe{
    width: 320px;
    height: 50px;
}

.video-slide{
    width: 100%;
    float: left;
}
.video-slide .item{
    width: 100%;
    float: left;
    position: relative;
}
.video-slide .item .text{
    width: 75%;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.video-slide .item .text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.video-slide .item .text h3 a,
.video-slide .item .text p,
.video-slide .item .text .meta-info{
    color: #fff;
}
.video-slide .item .text h3 a:hover{
    color: var(--red);
}
.video-slide .item .text p{
    font-size: 14px;
    margin-bottom: 10px;
}
.video-slide .owl-prev,
.video-slide .owl-next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    overflow: hidden;
    text-indent: -200px;
}
.video-slide .owl-prev{
    right: 70px;
    background: url(../images/prev.png) no-repeat center;
}
.video-slide .owl-next{
    right: 30px;
    background: url(../images/next.png) no-repeat center;
}
.video-slide .item figure{
    background: #000;
}
.video-slide .item figure img{
    opacity: 0.8;
}
.video-slide .item figure::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.video-post .card{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.video-post .card .pic{
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.video-post .card .text h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 5px;
}
.video-post .card .text h3 a{
    color: #333;
}
.video-post .card .text h3 a:hover{
    color: var(--red);
}

.page-background{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}
.page-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.master.with-background .mid-content{
    background: #fff;
    width: 1230px;
    margin-left: calc((100% - 1230px) / 2);
}

.post-header{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.post-header h1{
    font-size: 36px;
    font-weight: 700;
    color: #333;
    line-height: 120%;
    margin-bottom: 15px;
}

.main-image{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.main-image img{
    display: block;
}
.main-image figcaption,
.article figure figcaption{
    padding: 8px 20px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 200%;
    margin-bottom: 30px;
}
.article blockquote{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    background: #f4f4f4;
    text-align: center;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.article blockquote span{
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}

.article figure{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.article figure img{
    display: block;
}

.article h3{
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.tags{
    width: 100%;
    float: left;
    margin-bottom: 20px !important;
}
.tags li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tags li a{
    display: block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: #f4f4f4;
}

.post-detail .share{
    width: 100%;
    float: left;
    padding: 10px 20px;
    background: #f4f4f4;
}
.post-detail .share h6{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    float: left;
}
.post-detail .share ul{
    float: right;
    text-align: right;
}
.post-detail .share ul li{
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
}
.post-detail .share ul li a{
    color: #333;
}

section.db-breadcrumb{
    margin-top: -30px;
}
.db-breadcrumb ul{
    width: 100%;
    float: left;
    border-bottom: 1px solid #dedede;
    padding: 20px 0 16px;
}
.db-breadcrumb ul li{
    display: inline-block;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.db-breadcrumb ul li:last-child{
    font-weight: 700;
}
.db-breadcrumb ul li a{
    color: #333;
}
.db-breadcrumb ul li a:hover{
    text-decoration: underline;
}

.contact-info .maps{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
.contact-info .maps iframe{
    width: 100%;
    height: 100%;
}

.ct-card{
    padding: 20px;
    border: 1px solid #dedede;
    height: 120px;
}
.ct-card i{
    font-size: 24px;
    color: var(--red);
    margin-bottom: 10px;
}
.ct-card p{
    font-size: 14px;
}

.contact-form form input,
.contact-form form textarea{
    width: 100%;
    float: left;
    padding: 15px 20px;
    border: 1px solid #dedede;
    font-size: 14px;
}

.burger{
    width: 72px;
    height: 72px;
    text-align: center;
    float: left;
    margin-left: -20px;
    font-size: 18px;
    padding-top: 22px;
}

.subscription{
    width: 100%;
    float: left;
    padding: 40px 20px;
    background: #f4f4f4;
    position: relative;
}
.subscription::before{
    content: "";
    width: 70px;
    height: 3px;
    background: #BF0000;
    position: absolute;
    top: 0;
    left: 0;
}
.subscription h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.subscription p{
    margin-bottom: 20px;
    font-size: 14px;
}
.subscription form{
    width: 100%;
    position: relative;
}
.subscription form input{
    width: 100%;
    padding: 15px 120px 15px 20px;
    border: 1px solid #dedede;
    font-size: 14px;
}
.subscription form button{
    width: 100px;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 15px 0;
    border: none;
    background: #BF0000;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}


@media only screen and (max-width: 768px){
    
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }

    .master{
        overflow-x: hidden;
    }
    .master.header-fixed{
        margin-top: 70px;
    }

    section{
        margin-bottom: 30px;
    }

    .top-bar{
        height: 80px;
    }
    .newsticker{
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.2);
    }
    .top-bar .date{
        border-right: none;
        padding-left: 20px;
        width: auto;
    }
    .top-bar .social-media{
        border-left: none;
        width: auto;
        padding-right: 20px;
    }
    .bottom-bar{
        padding-left: 20px;
        height: 72px;
        position: relative;
    }
    .bottom-bar .logo{
        width: calc(100% - 124px);
        padding: 23px 30px 9px;
    }
    .menu{
        position: absolute;
        width: calc(100% + 20px);
        background: #f4f4f4;
        z-index: 9;
        top: 85px;
        left: -20px;
        text-align: left;
        display: none;
        height: calc(100vh - 72px);
        overflow-y: auto;
        padding-bottom: 100px;
    }
    .bottom-bar.fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-bottom: 1px solid #dedede;
    }
    .menu.show{
        display: block;
    }
    .menu li{
        width: 100%;
        float: left;
    }
    .menu li a{
        padding: 15px 20px;
    }
    .menu li a i{
        float: right;
    }
    .bottom-bar .search{
        width: 72px;
        height: 72px;
        float: right;
    }
    .bottom-bar .search form{
        width: 100vw;
        height: 72px;
        right: 0;
    }
    .search .search-bt,
    .bottom-bar .search form button{
        width: 72px;
        height: 72px;
    }
    .bottom-bar .search form button{
        right: 0;
    }
    .bottom-bar .search form input{
        height: 72px;
        padding: 10px 92px 10px 20px;
        font-size: 14px;
    }

    .menu li .drop-ct{
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        float: left;
    }

    .meta-info{
        font-size: 11px;
    }

    .widget-schedule{
        padding-left: 20px;
        padding-right: 20px;
    }
    .match-schedule .item{
        padding: 0 0 10px;
    }
    .match-schedule .team{
        width: 80px;
        text-align: center;
        padding-top: 0;
    }
    .match-schedule .team figure{
        display: inline-block;
        float: none;
    }
    .match-schedule .team h5{
        width: 100%;
    }
    .match-schedule .owl-prev,
    .match-schedule .owl-next{
        display: none;
    }
    .match-schedule .match-info{
        width: calc(100% - 160px);
        white-space: normal;
        padding: 0 10px;
    }

    .news-list{
        padding-left: 20px;
        padding-right: 20px;
    }

    .post-list .post-item:first-child .text{
        padding: 20px;
        width: 100%;
    }
    .post-list .post-item:first-child .text h3{
        font-size: 18px;
    }
    .post-list .post-item .text{
        margin-top: -6px;
    }
    .post-list .post-item .text p{
        font-size: 12px;
        display: none;
    }
    .post-list .post-item .pic{
        width: 70px;
        height: 70px;
    }
    .post-list .post-item .text{
        width: calc(100% - 70px);
        padding-left: 12px;
    }
    .post-list .post-item .text h3{
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 0;
    }
    .channel{
        font-size: 10px;
    }
    .post-list .post-item:nth-child(7n), .post-list .post-item:nth-child(7n-1){
        width: calc((100% - 12px) / 2);
        margin-right: 12px;
    }
    .post-list .post-item:nth-child(7n){
        margin-right: 0;
    }
    .post-list .post-item:nth-child(7n) .pic, .post-list .post-item:nth-child(7n-1) .pic{
        height: 160px;
    }

    .column.is-4 section{
        padding-left: 20px;
        padding-right: 20px;
    }

    .video-slide .item .text{
        width: 100%;
        padding: 20px;
    }
    .video-slide .item .text h3{
        font-size: 18px;
    }
    .video-slide .item .text p{
        display: none;
    }
    .section-title.inset{
        left: 20px;
    }

    .video-post{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer{
        text-align: center;
    }
    .foot-social-media{
        text-align: center;
    }
    .footer .top-footer{
        height: auto;
        padding: 30px 0;
    }
    .footer .bottom-footer{
        height: auto;
    }
    .bottom-footer .foot-nav{
        text-align: center;
    }
    .bottom-footer .foot-nav li a{
        padding: 10px 10px;
    }
    .bottom-footer{
        padding: 15px 20px;
    }
    .bottom-footer .is-rtl p{
        padding: 0;
    }
    .footer{
        background-position-x: left;
    }

    .db-breadcrumb ul{
        padding-left: 20px;
        padding-right: 20px;
    }

    .mob-pbd-20{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-form input,
    .contact-form textarea{
        margin-bottom: 10px;
    }

    .section-title input{
        float: left;
        margin-top: 10px;
        width: 100%;
    }

    .post-header h1{
        font-size: 24px;
    }
    .article blockquote{
        padding: 20px;
        font-size: 18px;
    }
    .article blockquote span{
        font-size: 14px;
    }

    .post-detail .share h6{
        font-size: 14px;
    }
    .post-detail .share ul li{
        font-size: 16px;
        margin-left: 12px;
    }

    .master.with-background .mid-content{
        width: 100%;
        margin-left: 0;
    }
    .page-background{
        display: none;
    }

    .standing-table{
        text-align: right;
    }
    .standing-table th{
        display: none;
    }
    .standing-table td span{
        display: block;
        width: 50%;
        float: left;
        font-weight: 700;
        text-align: left;
    }
    .standing-table td{
        display: block;
        width: 100%;
        float: left;
    }
    .standing-table figure{
        width: 40px;
        height: 40px;
        float: none;
        margin: auto;
    }
    .standing-table td:nth-child(3){
        text-align: center;
    }
    .standing-table td:last-child{
        margin-bottom: 20px;
    }
    .standing-table td:first-child{
        background: #BF0000 !important;
        color: #fff;
        font-weight: 700;
        width: 60px;
        float: left;
        text-align: center;
        height: 62px;
        padding-top: 18px;
    }
    .standing-table td:nth-child(2){
        width: 80px;
    }
    .standing-table td:nth-child(3){
        width: calc(100% - 140px);
        height: 61px;
        text-align: left;
        padding-left: 0;
        padding-top: 18px;
        font-weight: 700;
    }

    .schedule-table th{
        display: none;
    }
    .schedule-table td{
        display: block;
        width: 100%;
        text-align: right !important;
    }
    .schedule-table td figure{
        float: right;
        margin-right: 0;
        margin-left: 20px;
    }
    .schedule-table td:first-child{
        background: #BF0000 !important;
        color: #fff;
        font-weight: 700;
    }
    .schedule-table td:last-child{
        margin-bottom: 20px;
    }
    .schedule-table td span{
        display: block;
        float: left;
    }

}




















